
/* Default style, feel free to remove if not needed. */
body, body * {
	vertical-align: baseline;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
    font-size: 0;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}

#container_dc img { display: block; width: 100%; height: auto; position: absolute; }

/* global */
#container_dc {
	position: absolute;
	width: 728px;
	height: 90px;
	top: 0;
	left: 0;
	
	margin: auto;
	overflow:hidden;
}
#content_dc {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	overflow:hidden;	
}

#bgFade {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9994;
	background-color: #fff;
}
#border_div {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width: 728px;
	height: 90px;
	top: 0px;
	left: 0px;
	border:1px solid #000;
}

.full_div{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}



#cta{
	top:-1px;
    left: 364px;
	overflow:hidden;
}
.cta_roll {
	display:none;
}

.cta_bg, .cta_white{
	position:absolute;
    left: 0px;
    top: 70px;
    height: 20px;
	background-color:#fff;
}

#cta2 .cta_bg{
	
	background-color:#006fcf;

}

.cta_white{
	background-color:#00175a;	
}

.cta_out{
	left:-364px;
}

.shine_mask{
	position:absolute;
	background-color: transparent;
	left: 596px;
    top: 27px;
    height: 105px;
    width: 124px;
    border-radius: 4px;
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	mask-image: radial-gradient(white, black);
}

.card_shine{
	height: 190px;
    width: 259px;
	left:-310px;
	position:absolute;

}
#blue_bg{
	left:364px;
	background-color:#006fcf;
}

#img1{
	width:728;
	height:auto;
	left:0px;
}

#copy_container{
	left:364px;
	overflow:hidden;
}
#copy1, #copy2, #copy3, #copy4{
	left:-364px;
}

#img_mask{
	width:364px;
	overflow:hidden;
}

#img_container{
	width:728px;
}

/* Invisible button for background clickthrough. */
#bg_exit {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	background-color:transparent;
	opacity:.5;
	z-index: 400;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}